/* General Styles */
/* body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
   */
  .projects {
    padding: 2rem;
    /* background-color: #f5f5f5; */
    text-align: center;
  }
  
  .projects h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    
  }
  
  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }
  
  .item1 {
    background-color:black;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid yellow;
    box-shadow: var(--box-shadow);
    
  }
  
  .item1 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .item1 h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 600;
    color: #0056b3;
  }
  
  .item1 p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .links {
    margin-top: 1rem;
  }
  
  .links a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
  }
  
  .links a:hover {
    color: #0056b3;
  }
  
  .item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .links a{
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    display: inline-block;
    margin-bottom: 1rem;
   

   
   

  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .container h1 {
      font-size: 2rem;
    }
  
    .item h3 {
      font-size: 1.2rem;
    }
  
    .item p {
      font-size: 0.9rem;
    }
  }
  